# API Config
PROJECT_NAME="PayMeBack Pre-Prod"
FRONTEND_BASE_URL="https://pmb.ignore.smplfd.in"
API_PORT=8088

# Database Config
DB_HOST="postgres-master"
DB_PORT="5432"
DB_NAME="paymeback_staging_db"
DB_USER="paymeback_staging_user"

# Security
ACCESS_TOKEN_EXPIRE_MINUTES=10080
MAGIC_LINK_EXPIRE_MINUTES=15
ENV_FILE=env/preprod.env

# Frontend Build (Important for Vite)
VITE_API_BASE_URL=https://apipmb.ignore.smplfd.in
